<!-- source https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu -->
<!-- source https://www.w3schools.com/howto/howto_js_navbar_shrink_scroll.asp -->

<div style="min-width:1700px;">
    <mat-toolbar class="nav-bar">
        <mat-toolbar-row>
        <button mat-button href="https://www.nh.org.au/" id="logo">Northern Health</button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-button  routerLink="/overview" routerLinkActive="activebutton">Overview</button>
            <button mat-button routerLink="/patients" routerLinkActive="activebutton">Patients</button>
        </mat-toolbar-row>
    </mat-toolbar>
        
    <router-outlet></router-outlet>
</div>

    


