<!-- source https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu -->
<!-- source https://www.w3schools.com/howto/howto_js_navbar_shrink_scroll.asp -->


    <mat-toolbar class="nav-bar">
        <mat-toolbar-row>
        <a mat-button href="https://www.nh.org.au/" id="logo">Northern Health</a>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-button  routerLink="/overview" routerLinkActive="activebutton">Overview</button>
            <button mat-button routerLink="/patients" routerLinkActive="activebutton">Patients</button>
            <button mat-button (click)="logout()">Logout</button>
        </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>


    


