.activebutton 
{
    color: white;
    background-color: rgb(51, 51, 51);
    
}
.mat-toolbar button
{
    background-color: white;
    color: black;
    font-weight: bolder;
}



.mat-toolbar
{
    display: flex;
    min-width: 475px;
}

a, .mat-raised-button
{
    margin: 10px;
}


.mat-toolbar a:hover, a:hover, .mat-toolbar button:hover, .menu-item:hover{
    background-color: lightgray;
}

// ::ng-deep .mat-menu-content{
//     background-color:red;
//   }
  