.mat-toolbar button
{
    background-color: white;
    color: black;
    font-weight: bolder;
}

.activebutton {
    background-color: rgb(51, 51, 51);
    color: white;
  }

.mat-toolbar
{
    display: flex;
    min-width: 475px;
}

a
{
    margin: 10px;
}

  