.activebutton 
{
    color: white;
    background-color: rgb(51, 51, 51);
    
}
.mat-toolbar button
{
    background-color: white;
    color: black;
}



.mat-toolbar
{
    border-radius: 5px;
    background-color: #636569;
    display: flex;
    min-width: 475px;
}

a, .mat-raised-button
{
    margin: 10px;
}

.mat-toolbar a:hover, a:hover, .mat-toolbar button:hover, .menu-item:hover{
    background-color: lightgray;
} 