.nav-bar
{  
  background-color: #636569;
  padding-bottom: 9px
}

mat-toolbar a
{
  float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    line-height: 50px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
}

/* Links on mouse-over */
 a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link */
.activebutton {
    background-color: rgb(51, 51, 51);
    color: white;
  }