.chart-container{
    display: grid;  
    row-gap: 5px; 
    column-gap:5px; 
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(1, 400px);    
  }

  .dateRange
  {
    margin-right:10px;
    background-color:rgb(236, 236, 236);
  }

  .activebutton
  {
    background-color: black;
    color: white;
  }

#container
{
  height:100%;
  width:99vw;
  overflow: auto;
  margin-bottom: 20px;
}