<!-- source: https://www.youtube.com/watch?v=2OHbjep_WjQ&t=639s&ab_channel=freeCodeCamp.org -->
<!-- <table>
    <tr>
        <td>patientHospitalNumber</td>
        <td>surName</td>
        <td>firtName</td>
        <td>question_id</td>
        <td>painMeasure</td>
        <td>d1</td>
        <td>d2</td>
    </tr>
    <tr *ngFor="let record of records">
       <td>{{record.patientHospitalNumber}}</td>
       <td>{{record.surName}}</td>
       <td>{{record.firtName}}</td>
       <td>{{record.question_id}}</td>
       <td>{{record.painMeasure}}</td>
       <td>{{record.d1}}</td>
       <td>{{record.d2}}</td>
    </tr>

</table> -->

<table>
    <tr>
        <td>Patient Hospital Number</td>
        <td>Surname</td>
        <td>First Name</td>
        <td>Questionare Number</td>
        <td>Pain Measure</td>
        <td>D1</td>
        <td>D2</td>
    </tr>
    <tr *ngFor="let record of records">
       <td>{{record.patienthospitalnumber}}</td>
       <td>{{record.surname}}</td>
       <td>{{record.firstname}}</td>
       <td>{{record.question_id}}</td>
       <td>{{record.painmeasure}}</td>
       <td>{{record.d1}}</td>
       <td>{{record.d2}}</td>
    </tr>

</table>