#table-div
{  
  height: 100vh;
  width: 98vw;
  overflow: auto;
}

table
{
  overflow:auto;
}

@media only screen and (max-width: 778px) {
  table
  {
    zoom:60%;
  }
}

@media only screen and (max-width: 281px) {
  table
  {
    zoom:40%;
  }
}

  .mat-column-select {
    overflow: initial;
  }
  
  tr.overview-rows
  {
    cursor:pointer;
  }
  
  tr.overview-rows:hover
  {
    background-color: lightgray;
  }
  
   .mat-header-cell
  {
    border: 1px solid transparent;
  }


  #bottom-toolbar
  {
    background-color: white;
  }
  
  #bottom-toolbar-row
  {
    width: 900px;
    margin-top:15px;
    background-color: white;
  }
  
  
  th
  {
    padding-top:2px;
    font-weight: bold;
    color:black;
    font-size:25px;
  }
  
  .mat-header-cell input
  {
    font-size: 25px;
    width:150px;
    margin-right:10px;
    border-radius: 4px;
  }
  
  td
  {
    font-size: 25px;
  }
  
  .mat-paginator
  {
    font-size:20px;
    color: black;
    
  }
  
  .mat-paginator ::ng-deep .mat-select-value, ::ng-deep .mat-option-text
  {
    font-size: 20px;
    color: black;
  }
  
  