table {
    width:100%;
  }
  
  tr.overview-rows
  {
    cursor:pointer;
  }
  
  tr.overview-rows:hover
  {
    background-color: lightgray;
  }
  
   .mat-header-cell
  {
    border: 1px solid transparent;
  }
  
  .header-filter
  {
    margin-bottom: -25px;
  }
  
  th
  {
    padding-top:2px;
    font-weight: bold;
    color:black;
    font-size:25px;
  }
  
  .mat-header-cell input
  {
    font-size: 25px;
    width:150px;
    border-radius: 4px;
  }
  
  td
  {
    font-size: 25px;
  }
  
  .mat-paginator
  {
    font-size:20px;
    color: black;
    
  }
  
  .mat-paginator ::ng-deep .mat-select-value, ::ng-deep .mat-option-text
  {
    font-size: 20px;
  }
  
  