table {
  width:100%;
}

.header-filter
{
  padding:5px;
}

#table-div
{
  margin: 15px;
}

th
{
  font-weight: bold;
  color:black;
  font-size:25px;
}

td
{
  font-size: 25px;
}

.mat-paginator
{
  font-size:20px;
  color: black;
  
}

.mat-paginator ::ng-deep .mat-select-value, ::ng-deep .mat-option-text
{
  font-size: 20px;
}