<app-patient-overview-nav-bar></app-patient-overview-nav-bar>
<div style="margin:50px"></div>

<div class="chart-container">
    <div class="charts" echarts [options]="dOneOptions"></div>
    <div class="charts" echarts [options]="dTwoOptions"></div>
    <div class="charts" echarts [options]="dThreeOptions"></div>    
</div>

<div class="chart-container">
    <div class="charts" echarts [options]="dFourOptions"></div>
    <div class="charts" echarts [options]="dFiveOptions"></div>
    <div class="charts" echarts [options]="dSixOptions"></div>    
</div>

<div class="chart-container">
    <div class="charts" echarts [options]="dSevenOptions"></div>
    <div class="charts" echarts [options]="dEightOptions"></div>
       
</div>

<div class="chart-container">
    <div class="charts" echarts [options]="aOneOptions"></div> 
    <div class="charts" echarts [options]="aTwoOptions"></div>
    <div class="charts" echarts [options]="aThreeOptions"></div>    
</div>

<div class="chart-container">
    <div class="charts" echarts [options]="aFourOptions"></div>
    <div class="charts" echarts [options]="aFiveOptions"></div>
    <div class="charts" echarts [options]="aSixOptions"></div>    
</div>
<div class="chart-container">
    <div class="charts" echarts [options]="aSevenOptions"></div>
    <div class="charts" echarts [options]="aEightOptions"></div>   
</div>
