
//source:https://www.google.com/amp/s/www.freecodecamp.org/news/how-to-make-your-html-responsive-by-adding-a-single-line-of-css-2a62de81e431/amp/
.chart-container{
  display: grid;  
  row-gap: 5px; 
  column-gap:5px; 
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-template-rows: repeat(1, 600px);    
}

.container
{
  height: 100vh;
  width:100vw;
  overflow: auto;
}